
*{
    font-family: 'Spartan', sans-serif;
    color: rgb(13, 9, 9);
}

body {
    margin: 0;
    background-color:#29333d;
    background-image: linear-gradient(to right, #a3d9ff,#f3f7fa) 
    
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.calculadora{
    display: grid; 
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: 160px repeat(5, 75px);
    background-color: rgb(235, 156, 183);
    padding: 15px;
    border-radius: 32px;
    box-shadow: 15px 10px 0px 5px #a50d9033;
    
}

button{
    cursor: pointer;
    margin: 5px;
    padding: 0;
    border-radius: 18px;
    font-size: 1.5em;
    border: none;
    background-color: rgb(213, 107, 157);
    box-shadow: 5px 5px 10px -3px #00000040, -5px -5px 15px 3px #f1abd41f;

}

.numero:active {   
    background-color: #ffa9e1;

}

.numero:focus{
    outline:none;
}


.operador:active {   
    background-color: #f31365;

}


.operador{
    background-color: #f2ebf0d7;
    
}

.operador:focus{
    outline:none;
}


.display {
    grid-column: 1 / -1;
    padding: 16px;
    display: flex;
    margin: 10px 10px 20px;
    flex-direction: column;
    align-items: flex-end;
    background-color:#3a616d;
    border-radius: 10px;
    text-align: right;
    justify-content: space-between;
    box-shadow: 2px 2px 3px 5px #36363640;
    

}


.row-2{
    grid-row: span 2;
    
}

.col-2{
    grid-column: span 2;
    
}

#valor-anterior{
    font-size:  1.8em;
    
}

#valor-actual{
    font-size: 2.2em;
    
}

#hero {
    min-height: 100vh;
    position:relative;
}
video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.capa{
    position: absolute;
    top:0;
    left: 0;
    width: 0;
    height: 100%;
    background: #1c1c1d;
    opacity: 0.5;
    mix-blend-mode: overlay;
}
.calculadora{
    position: relative;
    z-index: 2;
}


.bottom-footer-area {
    background-color: #070000;
    padding: 30px 0;
    text-align: center;

}

.bottom-footer-area p  {
    font-size: 12px;
    margin-bottom: 0;
    color: #fdfdfd;
    font-size: 15px;
}